# Python Turotial: Work with CSV

# Reading

### Read CSV using Python's inbuilt standard library csv

In [19]:
import csv

In [20]:
file = open('Salary_Data.csv')
type(file)

_io.TextIOWrapper

In [21]:
csvreader = csv.reader(file)

In [22]:
header = []
header = next(csvreader)
header

['YearsExperience', 'Salary']

In [23]:
rows = []
for row in csvreader:
    rows.append(row)
rows

[['1.1', '39343.00'],
 ['1.3', '46205.00'],
 ['1.5', '37731.00'],
 ['2.0', '43525.00'],
 ['2.2', '39891.00'],
 ['2.9', '56642.00'],
 ['3.0', '60150.00'],
 ['3.2', '54445.00'],
 ['3.2', '64445.00'],
 ['3.7', '57189.00'],
 ['3.9', '63218.00'],
 ['4.0', '55794.00'],
 ['4.0', '56957.00'],
 ['4.1', '57081.00'],
 ['4.5', '61111.00'],
 ['4.9', '67938.00'],
 ['5.1', '66029.00'],
 ['5.3', '83088.00'],
 ['5.9', '81363.00'],
 ['6.0', '93940.00'],
 ['6.8', '91738.00'],
 ['7.1', '98273.00'],
 ['7.9', '101302.00'],
 ['8.2', '113812.00'],
 ['8.7', '109431.00'],
 ['9.0', '105582.00'],
 ['9.5', '116969.00'],
 ['9.6', '112635.00'],
 ['10.3', '122391.00'],
 ['10.5', '121872.00']]

In [8]:
file.close()

#### complete code

In [26]:
import csv
file = open("Salary_Data.csv")
csvreader = csv.reader(file)
header = next(csvreader)
print(header)
rows = []
for row in csvreader:
    rows.append(row)
print(rows)
file.close()

['YearsExperience', 'Salary']

### using with()

In [27]:
import csv
rows = []

with open("Salary_Data.csv", 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
        
print(header)
print(rows)

['YearsExperience', 'Salary']
[['1.1', '39343.00'], ['1.3', '46205.00'], ['1.5', '37731.00'], ['2.0', '43525.00'], ['2.2', '39891.00'], ['2.9', '56642.00'], ['3.0', '60150.00'], ['3.2', '54445.00'], ['3.2', '64445.00'], ['3.7', '57189.00'], ['3.9', '63218.00'], ['4.0', '55794.00'], ['4.0', '56957.00'], ['4.1', '57081.00'], ['4.5', '61111.00'], ['4.9', '67938.00'], ['5.1', '66029.00'], ['5.3', '83088.00'], ['5.9', '81363.00'], ['6.0', '93940.00'], ['6.8', '91738.00'], ['7.1', '98273.00'], ['7.9', '101302.00'], ['8.2', '113812.00'], ['8.7', '109431.00'], ['9.0', '105582.00'], ['9.5', '116969.00'], ['9.6', '112635.00'], ['10.3', '122391.00'], ['10.5', '121872.00']]

## using .readlines()

In [31]:
with open('Salary_Data.csv') as file:
    content = file.readlines()
header = content[:1]
rows = content[1:]
print(header)
print(rows)

['YearsExperience,Salary\n']
['1.1,39343.00\n', '1.3,46205.00\n', '1.5,37731.00\n', '2.0,43525.00\n', '2.2,39891.00\n', '2.9,56642.00\n', '3.0,60150.00\n', '3.2,54445.00\n', '3.2,64445.00\n', '3.7,57189.00\n', '3.9,63218.00\n', '4.0,55794.00\n', '4.0,56957.00\n', '4.1,57081.00\n', '4.5,61111.00\n', '4.9,67938.00\n', '5.1,66029.00\n', '5.3,83088.00\n', '5.9,81363.00\n', '6.0,93940.00\n', '6.8,91738.00\n', '7.1,98273.00\n', '7.9,101302.00\n', '8.2,113812.00\n', '8.7,109431.00\n', '9.0,105582.00\n', '9.5,116969.00\n', '9.6,112635.00\n', '10.3,122391.00\n', '10.5,121872.00\n']

## using pandas

In [34]:
import pandas as pd
data = pd.read_csv('Salary_Data.csv')
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [35]:
data.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [15]:
data.Salary

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

# Writing

### Writing to a CSV file using csv.writer

In [83]:
import csv

In [36]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]

In [37]:
filename = 'Students_Data.csv'
with open(filename, 'w', newline="") as file:
    csvwriter = csv.writer(file) # 2. create a csvwriter object
    csvwriter.writerow(header) # 4. write the header
    csvwriter.writerows(data) # 5. write the rest of the data

### Writing to a CSV file using .write()

In [38]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]

filename = 'Student_scores.csv'
with open(filename, 'w') as file:
    
    for header in header:
        file.write(str(header)+', ')
    file.write('\n')
    for row in data:
        for x in row:
            file.write(str(x)+', ')
        file.write('\n')

### Write to a CSV using Pandas

In [39]:
import pandas as pd
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv', index=False)

In [64]:
import csv
import pandas as pd

# open file
with open('AMZN.csv') as csvDataFile:
# read file as csv
    csvReader = csv.reader(csvDataFile)

# print row by row
    rowcount=0
    for row in csvReader:
        rowcount+=1
        print(row[0])
    print("There are " + str(rowcount) + " rows in the file.")

Date
2021-06-23
2021-06-24
2021-06-25
2021-06-28
2021-06-29
2021-06-30
2021-07-01
2021-07-02
2021-07-06
2021-07-07
2021-07-08
2021-07-09
2021-07-12
2021-07-13
2021-07-14
2021-07-15
2021-07-16
2021-07-19
2021-07-20
2021-07-21
2021-07-22
2021-07-23
2021-07-26
2021-07-27
2021-07-28
2021-07-29
2021-07-30
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-23
2021-08-24
2021-08-25
2021-08-26
2021-08-27
2021-08-30
2021-08-31
2021-09-01
2021-09-02
2021-09-03
2021-09-07
2021-09-08
2021-09-09
2021-09-10
2021-09-13
2021-09-14
2021-09-15
2021-09-16
2021-09-17
2021-09-20
2021-09-21
2021-09-22
There are 65 rows in the file.

In [65]:
import pandas as pd
data = pd.read_csv('AMZN.csv')
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-23,3505.000000,3521.000000,3483.199951,3503.820068,3503.820068,2813300
1,2021-06-24,3507.639893,3524.860107,3430.850098,3449.080078,3449.080078,3832000
2,2021-06-25,3464.000000,3464.820068,3394.179932,3401.459961,3401.459961,3941000
3,2021-06-28,3416.000000,3448.000000,3413.510010,3443.889893,3443.889893,2242800
4,2021-06-29,3438.820068,3456.030029,3423.030029,3448.139893,3448.139893,2098400
...,...,...,...,...,...,...,...
59,2021-09-16,3459.959961,3492.550049,3446.139893,3488.239990,3488.239990,2583600
60,2021-09-17,3488.409912,3497.409912,3452.129883,3462.520020,3462.520020,4614100
61,2021-09-20,3396.000000,3419.000000,3305.010010,3355.729980,3355.729980,4669100
62,2021-09-21,3375.000000,3379.699951,3332.389893,3343.629883,3343.629883,2780900
63,2021-09-22,3351.000000,3389.000000,3341.050049,3380.050049,3380.050049,2406200

In [67]:
import pandas as pd
data = pd.read_csv('AMZN.csv')
#Select 'open' from amzn where date =='2021-06-30'
print(data['Open'].loc[data['Date'] == '2021-06-30'])

#Select * from amzn where date =='2021-06-30'
print(data.loc[data['Date'] == '2021-06-30'])

5    3441.060059
Name: Open, dtype: float64
         Date         Open         High     Low        Close    Adj Close  \
5  2021-06-30  3441.060059  3471.600098  3435.0  3440.159912  3440.159912

    Volume
5  2404000